:root {
    --main-color: rgb(40, 131, 251);
    --main-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05), 5px 5px 15px rgba(0, 0, 0, 0.2);
    --main-shadow-hover: inset -6px -6px 10px rgb(196, 204, 214), inset 6px 6px 20px rgba(0, 0, 0, 0.1);
}

body {
    position: relative;
    font-family: sans-serif;
    background-image: linear-gradient(to bottom, #fff 0%, #d8e6f8 100%);
    min-height: 400px;
    min-width: 350px;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding: 10px;
    color: rgb(0, 35, 90);
    font-weight: 700;
    /* box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2), inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5); */
    margin: 10px auto;
    width: 70%;
    border-radius: 15px;
}

.container {
    position: relative;
    display: grid;
    grid-template-columns: 100%;
    place-items: center;
}

.neumorphic {
    box-shadow: -12px -12px 24px 0 rgba(0, 0, 0, 0.2), 12px 12px 24px 0 rgba(255, 255, 255, 0.5);
    font-size: 5rem;
    width: 150px;
    height: 150px;
    border-radius: 40px;
    overflow: hidden;
    padding: 1.3rem;
    display: flex;
    color: #999;
    cursor: pointer;
    margin: 30px auto;
}

.neumorphic:hover, .pressed {
    box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2), inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
    color: #5ab9ea;
}

.variation2 {
    justify-content: space-around;
    align-items: center;
}

.variation2 span {
    display: block;
    padding-bottom: 1.5rem;
    position: relative;
    font-size: 3rem;
}

.variation2 span::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    height: 0.3rem;
    border-radius: 1rem;
    width: 50%;
    margin: 0 auto;
    background-color: currentColor;
}

.subs{
    box-shadow: inset 6px 6px 20px 0 rgba(0, 0, 0, 0.1),
    inset -6px -6px 20px 0 rgba(255, 255, 255, 0.3);
    padding: 15px 20px;
    width: 250px;
    border-radius: 15px;
    background-color: transparent;
    margin: 20px auto 50px auto;
    display: block;
    position: relative;
    height: 50px;
    font-size: 1rem;
    overflow: auto;
    display: none;
}

#force{
    cursor: pointer;
    text-decoration: underline;
}

input {
    display: block;
    margin: 20px auto 50px auto;
    border: none;
    outline: none;
    font-size: 1.1rem;
    padding: 15px 20px;
    width: 70%;
    border-radius: 15px;
    box-shadow: inset 6px 6px 20px 0 rgba(0, 0, 0, 0.2),
    inset -6px -6px 20px 0 rgba(255, 255, 255, 0.5);
    background-color: transparent;
}

::placeholder{
    opacity: 0.6;
}

.err{
    color: red;
    margin-bottom: 20px;
}

.hide{
    display: none;
}

.show{
    display: block;
}